<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{/* === ВОТ ЭТА СТРОКА === */}}
    <meta name="robots" content="max-image-preview:large" />

    <title>{{ .Title }} | {{ .Site.Title }}</title>

    {{/* === БЛОК ОПИСАНИЯ === */}} {{ $desc := "" }} {{ if .IsHome }} {{ $desc
    = .Site.Params.description }} {{ else if .Params.description }} {{ $desc =
    .Params.description }} {{ else }} {{ $desc = .Summary }} {{ end }}
    <meta name="description" content="{{ $desc | plainify | truncate 160 }}" />
    {{/* === КОНЕЦ БЛОКА === */}}

    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />

    {{ $style := resources.Get "css/main.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
  </head>
  <body>
    <div class="wrapper">
      <header class="site-header">
        {{ partial "header.html" . }} {{ partial "menu.html" . }}
      </header>
      <main>{{ block "main" . }}{{ end }}</main>
      <footer class="site-footer">{{ partial "footer.html" . }}</footer>
    </div>
    {{ $js := resources.Get "js/main.js" | resources.Minify }}
    <script src="{{ $js.Permalink }}" defer></script>
  </body>
</html>
