<nav class="site-menu">
  {{/* 1. Кнопка "Гамбургер" */}}
  <button class="menu-toggle" aria-label="Открыть меню">
    <span></span>
  </button>

  {{/* 2. Список ссылок */}}
  <div class="menu-links">
    {{ if .Site.Menus.main }}
    <ul>
      {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL | relURL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    {{ else }}
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/posts/">Все посты</a></li>
      <li><a href="/search/">Поиск</a></li>
    </ul>
    {{ end }}
  </div>
</nav>
